body {
  margin: 0px;
  /* Hide scrollbars */
  min-width: 200px;
}

.background {
  height: 100%;
  min-width: 200px;
}
.backgroundSolidColor {
  background-image: url("../../public/images/staticImages/backgroundSolidColor.png");

  position: relative;

  top: 0px;
  width: 100vw;
  height: 50vw;
  z-index: 3;

  background-size: contain;
  min-width: 200px;
}

.backgroundBriks {
  background-image: url("../../public/images/staticImages/backgroundBriks.png");
  min-width: 200px;
  position: relative;
  top: -50vw;
  left: -2%;
  width: 100vw;
  height: 50vw;
  opacity: 0.25;
  background-size: cover;

  z-index: 4;
}

.backgroundFilter {
  position: relative;
  min-width: 200px;
  top: -100vw;
  width: 100vw;
  height: 50vw;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}

.backgroundFILL {
  min-width: 200px;
  top: -150vw;
  position: relative;
  height: 100%;
}
.backgroundSolidColorFILL {
  background-image: url("../../public/images/staticImages/backgroundSolidColor.png");
  min-width: 200px;
  width: 100vw;
  height: 100%;
  z-index: 0;

  background-size: contain;
}

.backgroundBriksFILL {
  background-image: url("../../public/images/staticImages/backgroundBriks.png");
  position: relative;
  min-width: 200px;
  top: -100vh;
  left: -2%;
  width: 100vw;
  height: 100%;
  opacity: 0.25;
  background-size: contain;
  background-repeat: repeat;
  z-index: 1;
}

.backgroundFilterFILL {
  position: relative;
  min-width: 200px;
  top: -200vh;
  width: 100vw;
  height: 100%;
  opacity: 1;
  background-size: contain;
  background-repeat: repeat;

  z-index: 2;
}
